.name-up{
    display: none;
}

li{
    list-style: none;
}
.one-page-quick{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-quick a{
    width: 300px;
    background-color: #095285;
    height: 30px;
    border-radius: 20px;
    border: 1px solid red;

}
.page-quick a{    
    text-decoration: none;
    color: white;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    font-size: 10px;
}

.profile-image img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    

}
.profile-image{
    margin-top: 30px;
    /* display: flex; */
    justify-content: center;
}
.hero{
    font-size: 30px;
    padding-left: 0px;
}
.profile-image .pic{
    /* background-color: #095285; */
    display: flex;
    justify-content: center;
}
.profile-image .opl{
    /* background-color: #095285; */
    display: flex;
    justify-content: center;
}

.media ul .tile a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    color: black;

}
.media ul{
    display: block;
}
.pc-media{
    display: none;
}
.profile-image .page-quick{
    
}
.media .tile{
    height: 50px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 0px;
    margin-bottom: 20px;

}
.media ul .tile a{
    text-decoration: none;

}

.media ul .tile a img{
    height: 40px;

}

.about{
    text-align: justify;
    line-height: 1.5;
    width: 100%;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p{
    width: 95%;

}
.bracket{
    display: none;
}
.keywords{
    font-size: 12px;
}
.keywords ul{
    line-height: 2;
}

/* ==================================RESUME-PAGE-START==================================*/
.resume-video iframe{
    height: 250px;
    width: 100%;
    max-width: 550px;
    
}
.resume-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-video img{
    height: 250px;
    width: 90%;
    
}

.resume-file{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.resume-file img{
    
    height: 60%;
    border-radius: 0px;
    width: 80%;
    border: 1px solid #095285;
}

.download-resume{
    display: flex;
    justify-content: center;
    background-color: #095285;
    height: 30px;
}
.download-resume a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    /* background-color: #095285; */
}
.title-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================================RESUME-PAGE-END==================================*/






/* ==============================PROJECTS-PAGE-START======================== */
.projects-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro h1{
    padding-left: 10px;
}



/* ==============================PROJECTS-PAGE-END======================== */





/* THIS IS PC VERSION OF THE PAGES */
@media (min-width:1024px){
/* ========================ABOUT-PAGE-START========================= */
.name{
    display: block;
    font-size: 50px;
    grid-column: 1/3;
    grid-row: 1/2;
    /* background-color: aqua; */
}
.about-main{
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr;
}
.profile-image img{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    /* margin-left: 100px; */

}
.name-down{
    display: none;
}

.about{
    margin-top: 30px;
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    
    font-size: 20px;
}
.profile-image{
    display: flex;
    flex-direction: column;
}
.keywords{
    margin-top: 100px;
    /* background-color: aqua; */
    line-height: 40px;
    margin-left: 30px;
}


/* ========================ABOUT-PAGE-END========================= */






/* ============================RESUME-PAGE-START================================ */
.resume-file{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.resume-file img{
    height: 80%;
    width: 30%;
    border-radius: 0px;
    /* background-color: aqua; */
}

.resume-video{
    display: flex;
    justify-content: center;
}
.resume-video img{
    width: 400px;
    height: 300px;
    border-radius: 0px;
}
.resume-video iframe{
    height: 300px;
    width: 30%;
}


.download-resume{
    height: 50px;
    width: 100%;
    /* background-color: #095285; */
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-resume a{
    /* background-color: pink; */
    font-size: 25px;
    text-decoration: none;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-resume a:hover{
    
    background-color: rgb(17, 61, 206);
    
}

/* ============================RESUME-PAGE-END================================ */






/* ================================PROJECTS-PAGE-START=================================== */

.pro{
    display: flex;
    justify-content: center;
}

.projects-main{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    /* height: auto; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* background-color: #095285; */
}
.bracket{
    display: block;
}

/* ================================PROJECTS-PAGE-END=================================== */
/* ================================CONTACT-PAGE-START=================================== */


.media{
    display: none;
}
.pc-media{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */

}
.row-1{

    margin-top: 50px;
    
    gap: 200px;
    display: flex;

}
.row-2{
    gap: 200px;
    display: flex;

}
.pc-media .tile{
    /* background-color: #095285; */
    height: 250px;
}

.pc-media ul .tile a img{
    height: 100px;
    width: 100px;
}
.main-contact .hero{
    font-size: 50px;
}

.pc-media ul .row-1 .tile a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    gap: 20px;
}
.pc-media ul .row-2 .tile a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    gap: 20px;

}

.main-contact .main-hero{
    /* padding-left: 50px; */
    /* background-color: #095285; */
    margin-left: 420px;
}

/* ================================CONTACT-PAGE-END=================================== */


}

