.name{
    display: none;
}

li{
    list-style: none;
}


img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.profile-image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about{
    text-align: justify;
    width: 98%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    line-height: 1.5;

}


@media (min-width:1024px){
.name{
    display: block;
    font-size: 70px;
    grid-column: 1/3;
    grid-row: 1/2;
    /* background-color: aqua; */
}
.about-main{
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 20%;
}

.about{
    margin-top: 30px;
    display: block;
    grid-column: 2/3;
    /* background-color: aquamarine; */

    font-size: 25px;
}

.keywords{
    margin-top: 100px;
    /* background-color: aqua; */
    line-height: 40px;
    margin-left: 30px;
}


}

