/* THIS IS MOBILE VERSION OF THE COMPONENTS */
/* ========================HEADER START================================= */
.header-right{
    display: none;
}

.header-right-menu{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

span{
    background-color: black;
    height: 2px;
    width: 30px;
    display: block;
    margin: 8px 0px;
    
}

.header-main{
    display: flex;
    justify-content: space-between;
}
.header-left a{
    text-decoration: none;
    color: black;
}

.list{
    margin-top: 50px;
}
.list a{
    text-decoration: none;
    height: 100px;
}
/* ==============================HEADER END===================================== */



/* =============================CARD-START========================== */

.card-main{
    height: 550px;
    width: 350px;
    /* background-color: #095285; */
    line-height: normal;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;

}

.card-main .image{
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.card-main img{
    border-radius: 0px;
    width: 80%;
    height: 80%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.card-main a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.card-main .details{
    padding: 10px;
}

.card-main .link{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #095285;
    cursor: pointer;
}

.disabled-link{
    border-radius: 20px;
    height: 40px;
    width: 100px;display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: grey;
}

.disabled-link a{
    pointer-events: none;
}

/* =============================CARD-END========================== */



































/* THIS IS PC VERSION OF THE COMPONENTS */
@media (min-width:1024px) {
/* ========================HEADER-START=================================== */
.header-right-menu{
    display: none;
}    
.header-right a{
    text-decoration: none;
}

.header-main{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header-left{
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-left a{
    text-decoration: none;
    color: black;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right ul{
    height: 100%;
    width: 100%;
    
    cursor: pointer;
}
.header-right ul a{
    height: 100%;
    padding:0px 30px 0px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.header-right ul a:hover{
    background-color: #095285;
    color: white;
}


/* ========================HEADER-END=================================== */



/* ========================FOOTER-START=================================== */
.footer-main{
    text-align: center;
}
/* ========================FOOTER-END=================================== */


/* ============================CARD-START============================= */
.card-main{
    height: 350px;
    width: 500px;
    margin-bottom: 50px;
}
.card-main .image{
    margin-left: 0px;
    padding: 0px;
    display:block;
}
.image img{
    border-radius: 10px;
    height: 100px;
    width: 200px;
    /* margin: 10px; */
    /* padding-left: 10px; */

}
.details{
    font-size: 15px;
    height: auto;
}

/* ============================CARD-END============================= */




}




